.card_header {
    font-weight: 500;
    font-size: 18px;
    border-bottom: 1px gray solid;
    padding-bottom: 1rem;
    font-weight: bold;
}

.btn_nav {
    background: #947f57;
    border: none;
}

.btn_nav:hover {
    background: #E8E8E8 !important;
    border: none;
}

.price {
    position: absolute;
    top: 10px;
    right: 10px;
}
