.navbar {
    background: white;
    padding: .5rem;
}

.btn_nav {
    background: #947f57;
    border: none;
}

.btn_nav:hover {
    background: #E8E8E8 !important;
    border: none;
}

.dropdown {
    color: #E8E8E8;
    padding: .5rem .25rem;
    border-radius: .25rem;
    background: transparent;
    border: none !important;
}

.dropdown_item {
    color: #E8E8E8;
    border-radius: .25rem;
    background: transparent;
    border: none !important;
    text-decoration: none;
}

.dropdown:hover,
.dropdown_item:hover {
    color: #947f57;
}

.dropdown:focus {
    background: #f0f0f0;
}

/* collapsed navbar */
.collapsed_navbar {
    position: fixed;
    top: 0;
    left: -80%;
    height: 100%;
    width: 80%;
    background: white;
    transition: all 0.3s ease;
    z-index: 9999;
}

.collapsed_open {
    left: 0;
}

.collapsed_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 1rem;
}

.collapsed_menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    transition: all 0.3s ease;
    list-style: none;
}

.collapsed_menu_header {
    color: #947f57;
    padding-bottom: 1rem;
    border-bottom: 1px solid #f0f0f0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    z-index: 9998;
    transition: opacity 0.5s ease-in-out;
}

.overlay.show {
    opacity: 1;
}

.toggler {
    cursor: pointer;
}