.navbar {
  background: white;
  padding: 0.5rem;
}

.btn_nav {
  background: #96acb7;
  border: none;
  border-radius: 0;
  color: white;
  text-align: center;
}

.btn_nav:hover {
  background: white;
  border: 1px solid #96acb7;
  color: #96acb7;
}

.dropdown {
  color: #96acb7;
  padding: 0.5rem 0.25rem;
  border-radius: 0;
  background: transparent;
  border: none !important;
}

.dropdown_item {
  color: #96acb7;
  border-radius: 0.25rem;
  background: transparent;
  border: none !important;
  text-decoration: none;
}

.dropdown:hover,
.dropdown_item:hover {
  color: #96acb7;
}

.dropdown:focus {
  background: #f0f0f0;
}

/* collapsed navbar */
.collapsed_navbar {
  position: fixed;
  top: 0;
  left: -80%;
  height: 100%;
  width: 80%;
  background: white;
  transition: all 0.3s ease;
  z-index: 9999;
}

.collapsed_open {
  left: 0;
}

.collapsed_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 1rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.collapsed_container::-webkit-scrollbar {
  display: none;
}

.collapsed_menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  transition: all 0.3s ease;
  list-style: none;
}

.collapsed_menu_header {
  color: #96acb7;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f0f0f0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  z-index: 9998;
  transition: opacity 0.5s ease-in-out;
}

.overlay.show {
  opacity: 1;
}
