.bottom_spacer {
    height: 8rem;
}

/* color, theme */
.primary {
    color: #f8c12a !important;
}

.bg_primary {
    background: #f8c12a !important;
}

.secondary {
    color: #0c1a2a !important;
}

.bg_secondary {
    background: #0c1a2a !important;
}

.grey {
    color: #f0f0f0 !important;
}

.bg_grey {
    background: #f0f0f0 !important;
}

.grey_dark {
    color: #898989 !important;
}

.bg_grey_dark {
    background: #898989 !important;
}

.white {
    color: white !important;
}

.bg_white {
    background: white !important;
}

.trans {
    background: transparent !important;
}

/* others */
.border_none {
    border: none !important;
}


.form-control:focus {
    border-color: #0c1a2a;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 0%) !important
}

.loading {
    position: fixed;
    top: 10%;
    right: 10%;
    border: 4px solid #02273B;
    border-top: 4px solid #F0535A;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}