.search_form {
  position: relative;
  display: flex;
  width: 60%;
}

.input_search {
  border-radius: 0;
}

.show_search_text {
  font-size: 18px;
}

@media only screen and (max-width: 868px) and (min-width: 768px) {
  .search_form {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .search_form {
    width: 100%;
  }

  .show_search_text {
    display: none;
  }
}

.btn_nav,
.btn_nav:hover {
  background: #947f57;
  border: none;
  border-radius: 0;
  color: white;
}

.search_result {
  position: absolute;
  top: 150%;
  width: 100%;
  min-height: 200px;
  max-height: 500px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.search_result::-webkit-scrollbar {
  display: none;
}
